[submodule "releases/v0.1"]
	path = releases/v0.1
	url = https://github.com/throwawAPI/breath-of-the-wild-obs-browser.git
[submodule "releases/stable"]
	path = releases/stable
	url = https://github.com/throwawAPI/breath-of-the-wild-obs-browser.git
[submodule "releases/v0.2"]
	path = releases/v0.2
	url = https://github.com/throwawAPI/breath-of-the-wild-obs-browser.git
[submodule "releases/v0.3"]
	path = releases/v0.3
	url = https://github.com/throwawAPI/breath-of-the-wild-obs-browser.git
[submodule "releases/v0.3.1"]
	path = releases/v0.3.1
	url = https://github.com/throwawAPI/breath-of-the-wild-obs-browser.git
