body {
  padding-top: 36px;
  padding-right: 61px;
  direction: rtl;
}

body.theme-light {
  color: #9FA188;
}

body.theme-dark {
  color: #070707;
}

div.hearts {
  padding-top: 0px;
  padding-right: 8px;
  max-width: 450px; /* this forces the 15-per-row layout */
}

div.stamina-wheels {
  padding-top: 3px;
  padding-right: 5px;
}

div.spirit-orbs {
  padding-top: 7px;
  padding-right: 3px;
}

div.shrines {
  margin-top: -2px;
  padding-top: 0px;
  padding-right: 1px;
}

div.korok-seeds {
  padding-top: 2px;
  padding-right: 5px;
}

div.rupees {
  padding-top: 1px;
  padding-right: 10px;
}

span {
  font-size: 31px;
  vertical-align: top;
}

span.spirit-orbs-text {
  padding-right: 2px;
}

span.korok-seeds-text {
  padding-right: 4px;
}

span.rupees-text {
  padding-right: 9px;
}

img.heart {
  padding-top: 5px;
  padding-left: 4px;
}

img.stamina-wheel {
  padding-left: 3px;
}
